@mixin button($background, $color) {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, .2);
    position: relative;
    font-size: 16px;
    height: 50px;
    overflow: hidden;
    background-color: $background;
    color: $color;
    padding: 0 15px;
    text-transform: uppercase;
    border-radius: $border-radius;
    cursor: pointer;
    &:hover {
        background-color: darken($background, 6%);
    }
    &.with-icon-left {
        padding-left: 32px;
    }
    &.with-icon-right {
        padding-right: 32px;
    }
}

.button-icon {
    position: absolute;
    left: 6px;
    top: 10px;
}

.button {
    @include button($button-normal-background, $button-normal-text);
}

.button-cta {
    @include button($button-cta-background, $button-cta-text);
}

.button-search {
    @include button($button-search-background, $button-search-text);
    font-weight: $font-weight-bold;
}

.button-link {
    @include button($color-background, black);
    border: none;
    text-transform: none;
    height: auto;
    padding: 6px 6px 6px 0;
    font-size: 15px;

    .button-icon {
        top: 2px;
    }
}
