.form-group {
    position: relative;
    display: block;
    font-size: 15px;
    height: $input-height;
    margin: 0 0 12px;
    padding: 0 $input-padding;
    .invalid {
        border: 1px solid $color-error;
    }
    .validation-message {
        position: absolute;
        font-size: .8em;
        color: $color-error;
    }
    .click-area {
        position: relative;
        line-height: 1.8em;
        font-size: 1em;
        width: 100%;
        height: 100%;
        border: none;
        cursor: pointer;
        background-color: white;
        border-radius: $input-border-radius;
        border: $border-normal;
        padding: 15px 4px 0 10px;
        box-shadow: $box-shadow-light;
    }
    .floating-label {
        position: absolute;
        top: 6px;
        left: 8px;
        font-size: .75em;
        font-weight: $font-weight-bold;
        pointer-events: none;
        z-index: $z-index-high;
        line-height: .75em;
        margin-bottom: 2px;
    }
    .selected-text {
        position: relative;
        pointer-events: none;
        background-color: white;
        width: 100%;
        border-radius: $input-border-radius;
    }
    .selected-text-input {
        position: absolute;
        top: 0;
        left: 0;
    }
    &.buttons {
        text-align: right;
    }
    &.input {
        .click-area {
            padding: 0;
        }
        input {
            padding: 15px 4px 0 10px;
        }
    }
    input,
    select,
    textarea {
        width: 100%;
        height: 100%;
        border-radius: $input-border-radius;
        border: none;
        cursor: pointer;
    }
    input {
        padding: 18px 10px 8px;
        line-height: 1.8em;
        font-size: 1em;
        height: 100%;
        width: 100%;
    }
    select {
        position: absolute;
        top: 0;
        left: 0;
        padding: 18px 10px 8px 7px;
        line-height: 1.8em;
        font-size: 1em;
        height: 100%;
        width: 100%;
        border: none;
    }
    &.dropdown-open {
        .click-area {
            border-radius: $input-border-radius $input-border-radius 0 0;
            border-bottom: $border-light;
        }
        .icon-left {
            border-radius: $input-border-radius 0 0 0;
        }
    }
    .dropdown-list {
        position: absolute;
        top: $input-height - 1px;
        left: -1px;
        right: -1px;
        background: white;
        z-index: $z-index-higher;
        border: $border-normal;
        border-top: none;
        user-select: none;
        border-radius: 0 0 $input-border-radius $input-border-radius;
        li {
            padding: 10px;
            &:hover {
                background-color: $color-third;
            }
            &.selected {
                background: $color-third;
            }
        }
    }
    .icon {
        position: absolute;
        padding: 8px 6px 0 6px;
        font-size: 28px;
        color: $color-primary-dark;
        background-color: white;
        pointer-events: none;
        outline: none;
        height: calc(100% - 2px);
        top: 1px;
        z-index: $z-index-high;
        user-select: none;
    }
    .icon-left {
        left: 1px;
        background-color: rgba(0, 0, 0, .03);
        border-right: $border-light;
        border-radius: $input-border-radius 0 0 $input-border-radius;
    }
    .icon-right {
        right: 1px;
        border-radius: 0 $input-border-radius $input-border-radius 0;
    }
    &.with-icon-left {
        .click-area,
        .selected-text-input {
            padding-left: 48px;
        }
        .floating-label {
            left: 48px;
        }
    }
}
