@import './shared.css';
@import './reset.css';
@import './fonts.css';
@import './form.css';

body, html {
  font-size: 14px;
  font-family: var(--font-family-normal);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: var(--h1);
  margin-bottom: 15px;
}

h2 {
  font-size: var(--h2);
  margin-bottom: 10px;
}

h3 {
  font-size: var(--h3);
  margin-bottom: 10px;
}

h4 {
  font-size: var(--h4);
  margin-bottom: 10px;
}

h5 {
  font-size: var(--h5);
  margin-bottom: 5px;
}

h6 {
  font-size: var(--h6);
  margin-bottom: 5px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

#app {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 900px;
  margin: 60px auto;
  color: #2c3e50;
}