@import './shared.scss';
@import './mixins.scss';
@import './transitions.scss';
@import './reset.scss';
@import './misc.scss';
@import './fonts.scss';
@import './buttons.scss';
@import './form.scss';
*,
*:before,
*:after {
    box-sizing: border-box;
}

#app {
    width: 100%;
    max-width: $container-width;
    margin: 20px auto;
    padding: 10px;
}

body,
html {
    font-size: 14px;
    font-family: $font-family-normal;
    color: $color-text;
    background: $color-background;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-family: $font-family-heading;
}

h1 {
    font-size: $h1;
    margin-bottom: 15px;
}

h2 {
    font-size: $h2;
    margin-bottom: 10px;
}

h3 {
    font-size: $h3;
    margin-bottom: 10px;
}

h4 {
    font-size: $h4;
    margin-bottom: 10px;
}

h5 {
    font-size: $h5;
    margin-bottom: 5px;
}

h6 {
    font-size: $h6;
    margin-bottom: 5px;
}

code {
    display: inline-block;
    font-family: monospace;
    border: $border-light;
    padding: 10px;
}
