@import './mixins.scss';
@import './theme.scss';

/* Breakpoints */
$tablet-and-up: "screen and (min-width: 768px)";
$desktop-and-up: "screen and (min-width: 1024px)";

/* Layout */
$container-width: 1024px;
$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;

/* Forms */
$input-height: 50px;
$input-border-radius: 4px;
$input-padding: 5px;
$input-icon-padding: 45px;

/* Typography */
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-bolder: 700;
$h1: 2rem;
$h2: 1.5rem;
$h3: 1.25rem;
$h4: 1rem;
$h5: 0.875rem;
$h6: 0.75rem;

/* Shadow */
$text-shadow: 0 0 4px rgba(0, 0, 0, .2);
$box-shadow: 0 0 10px rgba(0, 0, 0, .3);
$box-shadow-large: 0 0 15px rgba(0, 0, 0, .4);
$box-shadow-light: 0 0 10px rgba(0, 0, 0, .07);

/* Borders */
$border-radius: 5px;
$border-normal: 1px solid rgba(0, 0, 0, .2);
$border-light: 1px solid rgba(0, 0, 0, .1);
$border-lighter: 1px solid rgba(0, 0, 0, .04);

/* Colors */
$color-light-amount: 10%;
$color-lighter-amount: 20%;
$color-dark-amount: 10%;
$color-darker-amount: 20%;
$color-primary-light: lighten($color-primary, $color-light-amount);
$color-primary-lighter: lighten($color-primary, $color-lighter-amount);
$color-primary-dark: darken($color-primary, $color-dark-amount);
$color-primary-darker: darken($color-primary, $color-darker-amount);
$color-second-light: lighten($color-second, $color-light-amount);
$color-second-lighter: lighten($color-second, $color-lighter-amount);
$color-second-dark: darken($color-second, $color-dark-amount);
$color-second-darker: darken($color-second, $color-darker-amount);
$color-third-light: lighten($color-third, $color-light-amount);
$color-third-lighter: lighten($color-third, $color-lighter-amount);
$color-third-dark: darken($color-third, $color-dark-amount);
$color-third-darker: darken($color-third, $color-darker-amount);

$color-error: red;
$color-warning: yellow;
$color-info: lightblue;

/* z-index */
$z-index-default: 0;
$z-index-high: 10;
$z-index-higher: 20;
$z-index-highest: 100;
$z-index-low: -10;
$z-index-lower: -20;
$z-index-lowest: -100;

/* specific */
$flight-height: 115px;
